html, body {
  margin: 0;
  padding: 0;
}

.h300 {
	height: 300px;
}

.ml10 {
	margin-left: 10px;
}

.ml20 {
	margin-left: 20px;
}

.bg-gray {
	background-color: #ebf1f5;
}


.h-type1 {
	color: #486a7e;
	border-bottom: 3px solid #dfedf2;
	padding: 16px 0;
}

.h-type2 {
	color: #486a7e;
	border-bottom: 3px solid #ffffff;
	padding: 16px 0;
}

.home-cards {
	width: 260px;
	display: flex;
}
.home-cards .card {
	border-radius: 0 0 16px 0;
}
.home-cards .card::after {
	content: "";
  display: block;
  position: absolute;
  background-image: url("data:image/svg+xml,%3Csvg id='Pfad' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Ctitle%3E_%3C/title%3E%3Cpath fill='%230088cc' d='M10.958,27.042a1,1,0,0,1-.707-1.707l9.376-9.376L10.334,6.666a1,1,0,0,1,1.414-1.414l10,10a1,1,0,0,1,0,1.414L11.666,26.749A1,1,0,0,1,10.958,27.042Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  background-size: 1rem;
  border: 0.0625rem solid #0088cc;
  border-radius: 50%;
  width: 1.875rem;
  height: 1.875rem;
  right: 0;
  bottom: 0;
  margin: 0.625rem 1.25rem;
}
.home-cards .card img {

}
.home-cards .card h3 {

}
.home-cards .card p {

}


/* 超小屏幕（手机，小于 768px） */
@media (max-width: 768px) {

}

/* 中等屏幕（桌面显示器，大于等于 768px） */
@media (min-width: 768px) {
	.header {
	}

	.header-center {
		width: 1200px;
		height: 60px;
		line-height: 60px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
	}
	.header-center-left {

	}
	.header-center-right {
		display: flex;
	}


	.main-layout {
		width: 100%;
	}
	.main-layout-center {
		width: 1200px;
		margin: 0 auto;
	}




	.image-title {
		height: 300px;
  	background-color: #00b8b0;
  	background-size: 100%;
  	background-repeat: no-repeat;
	}




	.image-title-description {

	}
	.image-title-description .carousel-item img {
		width: 100%;
		height: 100%;
	}
	.image-title-description .main-layout-center {
		display: flex;
	}
	.image-title-description .left {
		width: 75%;
	}
	.image-title-description .left .point-wrap {
		display: flex;
		flex-wrap: wrap;
	}
	.image-title-description .left .point-wrap > div {
		width: 50%;
		height: 32px;
	}
	.image-title-description .left .point-wrap > div::before {
	    background-image: url("data:image/svg+xml,%3Csvg id='Pfad' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Ctitle%3EZeichenfläche 1%3C/title%3E%3Cpath fill='%23486a7e' d='M9.6,29a1.6,1.6,0,0,1-1.4-.8L.7,18a1.9,1.9,0,0,1,.4-2.6A2.1,2.1,0,0,1,2.2,15a1.9,1.9,0,0,1,1.5.8l6.1,8.4L28.5,3.7a1.678,1.678,0,0,1,1.4-.6,1.656,1.656,0,0,1,1.2.5,1.786,1.786,0,0,1,.1,2.6L11,28.4a1.974,1.974,0,0,1-1.4.6Z'/%3E%3C/svg%3E");
	    background-repeat: no-repeat;
	    background-position: 10px 10px;
	    background-size: 50%;
	    content: '';
	    background: #ebf1f5;
	    border-radius: 100%;
	    color: #486a7e;
	    display: inline-block;
	   	width: 2.1875rem;
	    height: 2.1875rem;
	    line-height: 2.1875rem;
	    text-align: center;
	}
	.image-title-description .right {
		width: 25%;
	}
	.image-title-description .right .library {
		padding-bottom: 1.875rem;
		background-color: #f58220;
	}


	.buttons {
		height: 120px;
	}
	.buttons button {
		margin-top: 39px;
		height: 42px;
		border: 1px solid #d1d1d1;
    border-radius: 8px;
    background-color: #ffffff;
	}


	.advancing .main-layout-center {
		display: flex;
	}


	.content {

	}

	.footer {
		background-color: #183642;
	}
}